{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link href="{% static 'styles/main.css' %}" rel="stylesheet">
    </head>
    <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="">
            <a href="/" class="navbar-item">Home</a>
        </div>

        <div class="navbar-menu">
            {% if request.user.is_authenticated %}
                <div class="nav-start">
                    <a   a href="{% url 'categories' %}" class="navbar-item">Categories</a>
                </div>
            {% endif %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                                <form action="{% url 'logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="button is-danger">Log out</button>
                                </form>
                        {% else %}
                            <a href="{% url 'signup' %}" class="button is-primary"><strong>Sign up</strong></a>
                            <a href="{% url 'login' %}" class="button is-light">Log in</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <section class="section">
        {% block content %}
        {% endblock %}
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p><strong>App</strong> by me</p>
        </div>
    </footer>
    </body>
</html>